body {
  margin: 25px 5em;
  background-color: rgb(240, 240, 240);
  font-family: arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

#myButton1 {
  font-family: Consolas, monospace;
  display: none;
}

#map {
  margin-top: 5px;
}

.welcome1 {
  display: block;
}

.map, p, input, textarea, #back, button.learn-to-sort {
  display: none;
}

.strip {
  display: none;
  width: 800px;
  height: 50px;
  background: rgb(69, 69, 69);
  position: absolute;
}

button, textarea, input {
  margin: auto;
}

textarea {
  width: 40em;
  height: 15em;
}
