body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
  text-align: center;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}

#myButton1 {
  font-family: Consolas, monospace;
}

.welcome1 {
  display: block;
}

.welcome2, .welcome3, .welcome4, .sorting-stars-problem, .sorting-stars-after {
  display: none;
}
